* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
	margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

div {
border: none;
background-color: none;
margin-right: auto;
margin-left: auto;
margin: 1%;
}


p {
padding: 20px;
font-size: 10px;
font-weight: bold;
}

span{

    border: 1.5px solid ;
  	width: 20%;
  	height: 20px;
  	padding: 2px;
    float: left;
}

@media(min-width: 992px){


.H1 {
	background-color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 70%;
	width: 30%;
}

#col1 {
		margin-left: 40px;
		border: 2px solid black;
		width: 30%;
		height: 155px;
		float: left;
 }

 .H2 {
	 background-color: #DEB887;
	 text-align: center;
	font-weight: bold;
	position: relative;
	left: 70%;
	width: 30%;
}


 #col2 {
		border: 2px solid black;
		width: 30%;
		height: 155px;
		float: left;
}

 .H3 {
	background-color: #FF7F50;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 70%;
	width: 30%;
}

#col3 {
		border: 2px solid black;
		width: 30%;
		height: 155px;
		float: left;

 }
}


@media (min-width: 768px) and (max-width: 991px) {


.H1 {
	background-color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 70%;
	width: 30%;

}


#col1 {
		border: 2px solid black;
		margin-left: 35px;

		width: 45%;
		height: 110px;
		float: left;

  }

.H2 {
	 background-color: #DEB887;
	 text-align: center;
	font-weight: bold;
	position: relative;
	left: 70%;
	width: 30%;

 }
 #col2 {
		border: 2px solid black;
		width: 45%;
		height: 110px;
		float: left;
}

.H3 {
	background-color: #FF7F50;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 85%;
	width: 15%;
}

#col3 {
		border: 2px solid black;
		margin-left: 35px;
		width: 92%;
		height: 110px;
		float: left;

  }

}


@media(max-width: 767px){


.H1 {
	background-color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 80%;
	width: 20%;

}


#col1 {
		border: 2px solid black;
		margin-left: 25px;
		width: 92%;
		height: 100px;
		float: left;
 }

 .H2 {
	 background-color: #DEB887;
	 text-align: center;
	font-weight: bold;
	position: relative;
	left: 80%;
	width: 20%;
}


 #col2 {
		border: 2px solid black;
		margin-left: 25px;
		width: 92%;
		height: 100px;
		float: left;
 }

.H3 {
	background-color: #FF7F50;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 80%;
	width: 20%;
}

#col3 {
		border: 2px solid black;
		margin-left: 25px;
		width: 92%;
		height: 100px;
		float: left;
  }

}


